{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> IOT Event </title>
  </head>
  <body>
    <div class="jumbotron pl-3 pb-3 pt-3 col-sm-12 col-md-9" style="background-color:#5A5AFA;color:white;">
        <div class="container">
            <div class="media">
                <img class="mr-1" src="https://i.pinimg.com/280x280_RS/a6/c6/58/a6c658ed710435c1f15ec4b2df5b1527.jpg" style="width:100px; height:100px" alt="Generic placeholder image">
                <div class="media-body">
                    <h2 class="mt-0 display-5">Saveetha</h2>
                    <h2 class="mt-0 display-5">Engineering College</h2>
                    <p class="col-sm-12 col-md-5 border-top border-warning" style="color:#DC680E;">
                        Affilated to Anna University|Approved by AICTE
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% block content %}    
    {% endblock  %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>