{% extends "internetofthings/base.html" %}
{% block content %}
    <div class="container col-xs-10 col-lg-5" style="padding-bottom:305px;">
        <form action="/listofparticipants/" method="POST" class="px-4 py-3">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">User name</label>
                <input type="text" class="form-control col-xs-10 col-lg-8" id="username" name="username" placeholder="user name">
                <small class="form-text text-danger">Username or password is wrong</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control col-xs-10 col-lg-8" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
{% endblock %}